@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 1200px) {}

* {
  padding: 0;
  margin: 0;
}

body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container {
  text-align: center;
  max-width: 1170px;
  margin: auto;
}